//
// Base
//
// Direct element styles
//

* {
    box-sizing: border-box;
}

html, body {}

body {
    font-size: 100%;
    color: $color-foreground;
    font-family: $base-font-family;
    line-height: $base-line-height;
}

a {
    color: $color-link;

    &:hover, &:focus {}
}

button {
    cursor: pointer;
}

section {}

article {}

aside {}

form {}

table {}
